<h1 align ="center" >Login</h1>	

<div class='row' align='center'>
	<div class="login-box">
		<div class='col-xs-12'>
			<div class="login-box-content">
				<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
					<div class="form-group">
						<div class="col-sm-offset-1  col-sm-10">
							<%= f.email_field :email, class: "form-control fa", placeholder: "\uf007 email", autofocus: true %>
							<br><br>
							<%= f.password_field :password, class: "form-control fa", placeholder: "\uf084 password" , autocomplete: "off" %>
							<br><br>
							<%= f.submit "login", class: 'btn btn-primary', style: "width: 70%" %>
							<br><br>
							<%= link_to "create account", signup_path, class: 'btn btn-primary', style: "width: 70%" %>
							<br><br>
							<%= link_to "forgot your password", signup_path, class: 'btn btn-primary', style: "width: 70%" %>
						</div>
					</div>
				<% end %>
			</div>
	 	</div>
 	</div>
</div>