<h1>Dinner Dash</h1>

<p>
	[<%= link_to 'Sign up', signup_path %> |
	 <%= link_to 'Log in', login_path %> |
	<%= link_to 'Novo item', new_item_path %>]
</p>
[ <%= link_to 'Items list', controller: 'items' %> |
<%= link_to 'Categorias', controller: 'categories' %> ]