<h1>Dinner Dash</h1>
<% if logged_in? && current_user.admin? == true %>
	<span>Você é um admin</span>
<% end %>
<p>
	<% if logged_in? %>
		[	<%= link_to 'Log out', logout_path, method: :delete %> |
		<% else %>
			[<%= link_to 'Sign up', signup_path %> |
			<%= link_to 'Log in', login_path %> |
	<% end %>
	<%= link_to 'Novo item', new_item_path %>]
</p>
[ <%= link_to 'Items list', controller: 'items' %> |
	<%= link_to 'Categorias', controller: 'categories' %> ]
