<h1>Mostrar detalhes da order</h1>
<%= @category.quantity %><br>
<%= @category.subtotal %><br>
<%= @category.id %><br>
<% @orders.each do |ord| %>
  <% ord.order_ids.each do |item_id| %>
    <%= item_id %>
    <% if item_id == @category.id %>
      <% @items << Item.find(item_id).name %>
    <% end %>
  <% end %>
<% end %>
<% @items.each do |itemName| %>
  <%= itemName %><br>
<% end %>
