<div class = "container">
<% if (!logged_in?) %>
  <% if session[:current_cart].key?("not_logged") %>
    <table class="table table-bordered">
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      <% session[:current_cart]["not_logged"].each do |item| %>
        <tr>
          <td>
            <%= link_to item[0], item_path(Item.find_by_name(item[0])) %>
          </td>
          <td>
            <%= item[1] %>
          </td>
          <td>
            $ <%= (Item.find_by_name(item[0])).price*item[1] %>
          </td>
        </tr>
      <% end %>
      <% else %>
        <%= render 'empty' %>
  <% end %>
<% else %>
  <% if session[:current_cart][current_user.username] %>
    <table class="table table-bordered">
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
        <% session[:current_cart][current_user.username].each do |item| %>
          <tr>
            <td>
              <%= link_to item[0], item_path(Item.find_by_name(item[0])) %>
            </td>
            <td>
              <%= item[1] %>
            </td>
            <td>
              $ <%= (Item.find_by_name(item[0])).price*item[1] %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td>Total</td>
          <td>
            <%= count_items_and_price[0] %>
          </td>
          <td>
            $ <%= count_items_and_price[1] %>
          </td>
        </tr>
      </table>
  <% else %>
    <%= render 'empty' %>
  <% end %>
<% end %>
<% if logged_in? && session[:current_cart][current_user.username] != nil  %>
  <%= form_for :order, url: orders_path do |f| %>
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
    <%= f.hidden_field :quantity, :value => count_items_and_price[0] %>
    <%= f.hidden_field :subtotal, :value => count_items_and_price[1] %>
    <% session[:current_cart][current_user.username].each do |item| %>
      <%= f.hidden_field :item_ids, multiple: true, :value => Item.find_by_name(item[0]).id %>
    <% end %>
    <h1 align = "center">
      <%= f.submit "Comprar", class: "btn btn-primary" %>
    </h1>
  <% end %>
<% end %>
<%= link_to 'Voltar', items_path %>
</div>
