  <table class="table table-bordered">
    <tr>
      <th>Item</th>
      <th>Quantity</th>
    </tr>

<% if (!logged_in?) || (session[:cart_id] == current_user.id) %>
    <% session[:current_cart].each do |item| %>
    <tr>
      <td>
        <%= link_to item[0], item_path(Item.find_by_name(item[0])) %>
      </td>
      <td>
        <%= item[1] %>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>

<%= session[:cart_id] %><br>
<%= current_user.id %><br>
<%= link_to 'Voltar', items_path %>
