<h1 align="center">Listando Todos os Itens</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Categories</th>
    <th colspan="4">Ações</th>
  </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td> R$ <%= item.price %></td>
      <td><span>Preencher depois</span></td>
      <td><%= link_to 'Show', item_path(item) %></td>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
      <td><%= link_to 'Destroy', item_path(item),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
    </tr>
  <% end %>
</table>
<br>
<p>
   [ <%= link_to 'New item', new_item_path %> | <%= link_to 'Voltar', root_path %> ]
</p>
