<h1 align="center">Listando Todos os Itens</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Categories</th>
    <th colspan="5">Ações</th>
  </tr>

  <% @items.order("name").each do |item| %>
    <tr>
      <td><%= link_to item.name, item_path(item) %></td>
      <td><%= item.description %></td>
      <td> R$ <%= '%.2f' % [item.price] %></td>
      <td>
        <% item.category_ids.each do |category_id| %>
          <% @categories << Category.find(category_id).name %>
        <% end %>

        <% @categories = @categories.sort %>

        <% @categories.each do |categoryName| %>
          <%= link_to categoryName, category_path(Category.find_by_name(categoryName)) %>
          <% if categoryName != @categories.last %>
            <span>|</span>
          <% end %>
        <% end %>

        <% @categories.clear %>
      </td>
      <td>
        <%= form_for :item, url: add_to_cart_item_path(item), :method => :get  do |f| %>
          <%= f.number_field :quantity, :min => '0', :step => "1" %>
          <%= f.submit 'Adicionar ao carrinho' %>
        <% end %>
      </td>
       <td>
        <%= link_to 'Remover do carrinho',  remove_from_cart_item_path(item), :method => :put %>
      </td>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
      <td><%= link_to 'Destroy', item_path(item),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
    </tr>
  <% end %>
</table>
<span>Carrinho: </span> <%= session[:current_cart] %>
<br>
<p>
   [ <%= link_to 'New item', new_item_path %> | <%= link_to 'Voltar', root_path %> ]
</p>
