<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<% if @article.categories.any? %>

   <p>Categories: <%= render @article.categories %></p>

<% end %>

<p>
  <strong>Category:</strong>

</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<%= link_to 'Back', items_path %>
