<nav class="navbar navbar-default">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <%= link_to "Dinner Dash 2", root_path, class: "navbar-brand", id: "logo" %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
            <% if logged_in?  %>
              <li><%= link_to 'Log out', logout_path, method: :delete %></li>
              <li class="dropdown">
                <% user = current_user %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <%= user.name %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            <% else %>
            <li>
              <%= link_to login_path ,class: 'item dd cart-link' do %>
                <%= fa_icon('user') %>
                <span>&nbsp;Login&nbsp;</span>
              <% end %>
            </li>
            <li>
              <%= link_to signup_path ,class: 'item dd cart-link' do %>
                <%= fa_icon('user') %>
                <span>&nbsp;Signup&nbsp;</span>
              <% end %>
            </li>
            <li>
              <%= link_to carts_path, class: 'item dd cart-link' do %>
                <%= fa_icon('shopping-cart') %>
                <span>&nbsp;Cart&nbsp;</span>
                <div class="ui label" id="cart-item-count">
                  <%= count_items_and_price[0] %>
                </div>
              <% end %>
            </li>
            <% end %>
         </ul>
      </div><!-- /.navbar-collapse -->
   </div><!-- /.container-fluid -->
</nav>
